# dependencies
node_modules
uploads
build
package-lock.json
.idea
.history
#db sequelize configs
config/config.json

#db sequelize configs
/config/config.json

.env
config/config.json
/.eslintrc.js
/config
.eslintrc.json
.eslintrc.yml
/uploads
